html {
	background-image: url("../assets/background.jpg");
	background-size: cover;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
html::before {
	opacity: 0.6;
}
.Form {
	height: 600px;
	width: 43%;
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: 50px;
	margin-left: 110px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 20px;
}
