.choice-box {
	margin-left: 35%;
	margin-top: 200px;
	padding-top: 100px;
	padding-bottom: 100px;
	width: 500px;
	text-align: center;
	font-size: 40px;
	background-color: rgba(0, 0, 0, 0.5);
	background-size: cover;
}
